<tr bgcolor="eeeeee">
    <td><img src="https://www.newark.com/productimages/standard/en_US<%- part['image']['baseName'] %>" width="100px"></td>
    <td><%- part['translatedManufacturerPartNumber'] %></td>
    <td><%- part['brandName'] %></td>
    <td><%- part['displayName'] %></td>
    <td><a href="<%- part['datasheets'][0]['url'] %>"><img src="imgs/pdf.png" width="50px"></a></td>
</tr>