<tr bgcolor="eeeeee"><a name="<%- part['DigiKeyPartNumber'] %>"></a>
    <td><img src="<%- part['PrimaryPhoto'] %>" width="100px"></td>
    <td><%- part['ManufacturerPartNumber'] %></td>
    <td><%- part['ManufacturerName']['Text'] %></td>
    <td><%- part['DetailedDescription'] %></td>
    <td><a href="<%- part['PrimaryDatasheet'] %>"><img src="imgs/pdf.png" width="50px"></a></td>
</tr>